@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

.get-task-container {
  background-color: #FFFFFF;
  padding: 24px 32px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  border: 1px solid #CCCCCC;
  max-width: 600px;
  font-family: 'DM Sans', sans-serif;
}

.get-task-title {
  font-size: 20px;
  color: #585858;
  margin-bottom: 16px;
  text-align: center;
}

.get-task-container p {
  margin-bottom: 8px;
  font-size: 16px;
  color: #333;
}