@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000&display=swap');

.set-worker-container {
  width: 100%;
  max-width: 1320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 40px;
  box-sizing: border-box;
}

.set-worker-form {
  width: 100%;
  max-width: 800px;
  background-color: #FFFFFF;
  border-radius: 12px;
  border: 2px solid #C8C8C8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 32px 48px 48px 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'DM Sans', sans-serif;
}

.set-worker-form .form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
  width: 100%;
}

.set-worker-form label {
  width: 120px;
  min-width: 100px;
  font-size: 16px;
  color: #585858;
  margin-right: 8px;
  font-family: 'DM Sans', sans-serif;
}

.set-worker-form input[type="text"],
.set-worker-form input[type="email"],
.set-worker-form input[type="password"] {
  flex: 1;
  border: none;
  color: #333;
  border-bottom: 3px solid #C8C8C8;
  outline: none;
  background-color: transparent;
  padding: 8px 4px;
  font-size: 16px;
  font-family: 'DM Sans', sans-serif;
}

.submit-button {
  margin-top: 40px;
  border-radius: 18px;
  border: none;
  width: 33%;
  height: 48px;
  font-size: 16px;
  font-family: 'DM Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #45a049;
}

.feedback-message {
  margin-top: 20px;
  padding: 0.75rem;
  background-color: #e0ffe0;
  color: #2d662d;
  border: 1px solid #88cc88;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}

/* Responsividade */
@media (max-width: 768px) {
  .set-worker-form {
    padding: 24px;
  }

  .set-worker-form .form-group {
    flex-direction: column;
    align-items: flex-start;
  }

  .set-worker-form label {
    margin-bottom: 6px;
  }

  .submit-button {
    width: 100%;
    margin-top: 24px;
  }
}